# Ignorar node_modules de AMBOS os projetos
/frontend/node_modules
/backend/ProjBia/node_modules

# Ignorar arquivos de ambiente do backend
/backend/ProjBia/.env

# Ignorar pastas de build/distribuição
/backend/ProjBia/dist
/frontend/dist
/frontend/.angular/

# Ignorar arquivos do VSCode
.vscode/