# Ignorar node_modules de AMBOS os projetos
/backend/node_modules
/frontend/node_modules

# Ignorar arquivos de ambiente do backend
/backend/.env

# Ignorar pastas de build/distribuição
/backend/dist
/frontend/dist
/frontend/.angular/