/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.vh-100 {
  height: auto !important;
}